<app-filters *ngIf="showFilters"></app-filters>
<div class="d-flex bg-light p-0 m-3 border">
    <div class="col-sm-7 mr-0 p-0 bg-white">
        <div *ngFor="let q of questions">
            <app-qna-card [question]="q"></app-qna-card>
        </div>
    </div>
    <div class="col-sm-5 m-0 p-0" *ngIf="activeQuestion!=null">
        <div class="border-bottom pt-3 px-3 pb-0">
            <div>
                <div class="d-flex align-items-center font-size-11px">
                    <img src="{{activeQuestion.imageUrl}}" alt="John Doe" class="img-fluid rounded-circle"
                        style="width: 30px" />
                    <div class="pl-3">
                        <span class="font-size-16px">{{activeQuestion.askedBy}}</span>
                        {{activeQuestion.askedOn}}
                    </div>
                    <div class="ml-auto cursor-ptr">
                        <fa-icon [icon]="Icons.exclamation" style="color: red;"></fa-icon>
                        Report this
                    </div>
                </div>
                <div class="">
                    <p class="font-size-15px">
                        {{activeQuestion.title}}
                    </p>
                    <p class="font-size-13px">
                        {{activeQuestion.description}}
                    </p>
                </div>
            </div>
        </div>
        <div style="background-color: #cccbcb;" class="py-1 pl-3 border-bottom"
        style="font-weight: 500;">
            ANSWERS ({{activeQuestion.answersCount}})
        </div>
        <div>
            <app-qna-answers *ngFor="let answer of answers" [answer]="answer"></app-qna-answers>
        </div>
        <form *ngIf="showFilters" class="NgxEditor__Wrapper font-size-13px ml-3"
          [formGroup]="formGroup" (ngSubmit)="onSubmit()"
          [ngClass]="{'big-editor':bigEditor == true,
        'bg-white':bigEditor,
          'mt-4':!bigEditor}">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
          <ngx-editor [editor]="editor" editable="true" [placeholder]="html" formControlName="editorContent">
          </ngx-editor>
          <div class="d-flex align-items-center">
              <fa-icon [icon]="Icons.expand" size="2x" class="pl-2 cursor-ptr"
              (click)="toggleEditor()"></fa-icon>
              <button type="submit" class="button ml-auto">
                  <fa-icon [icon]="Icons.send"></fa-icon>
              </button>
          </div>
        </form>
    </div>
</div>


<!-- modal -->
<ng-template #modal>
  <div>
    <div class="d-flex modal-header dark-purple text-white">
      <div>
        Add Category
      </div>
      <button type="button" class="close ml-auto pr-2" aria-label="Close">
        <span aria-hidden="true" class="text-white" (click)="closeModal()">&times;</span>
      </button>
    </div>
    <form>
      <div class="modal-body row font-size-13px">
        <div class="form-group col-sm-9">
          <label>Category Name</label>
          <input type="text" class="form-control" placeholder="Enter Category Name" style="font-size: 13px;">
        </div>
        <div class="form-group col-sm-9">
          <label>Description</label>
          <textarea class="form-control" rows="3" placeholder="Enter your text here..">
          </textarea>
        </div>
        <div class="ml-auto mt-4 mr-3 mb-3">
          <button type="button" class="button px-3" (click)="closeModal()" style="width: 80px;">Cancel</button>
          <button class="button px-3 ml-2" style="width: 80px;">Save</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
