<app-filters *ngIf="showFilters"></app-filters>
<div class="d-flex bg-light p-0 m-3 border">
    <div class="col-sm-7 mr-0 p-0 bg-white">
        <div *ngFor="let i of questions">
            <app-qna-card></app-qna-card>
        </div>
    </div>
    <div class="col-sm-5 m-0 p-0">
        <div class="border-bottom pt-3 px-3 pb-0">
            <div>
                <div class="d-flex align-items-center font-size-11px">
                    <img src="../../../assets/images/user-image.png" alt="John Doe" class="img-fluid rounded-circle"
                        style="width: 30px" />
                    <div class="pl-3">
                        4hrs Ago
                    </div>
                    <div class="ml-auto cursor-ptr">
                        <fa-icon [icon]="Icons.exclamation" style="color: red;"></fa-icon>
                        Report this
                    </div>
                </div>
                <div class="">
                    <p>
                        Why does G Fortran produces large stack size compared to C++ in this simple problem and what are
                        the alternatives?
                    </p>
                    <p class="font-size-13px">
                        Placeholder text to use in your graphic,print and web layouts and discover plugins for your
                        favourite writing,design and blogging tools.Placeholder text to use in your graphic,print and
                        web layouts and discover plugins for your favourite writing,design and blogging tools
                    </p>
                </div>
            </div>
        </div>
        <div style="background-color: #cccbcb;" class="py-1 pl-3 font-weight-bolder">
            ANSWERS (3)
        </div>
        <div>
            <app-qna-answers *ngFor="let ans of answers"></app-qna-answers>
        </div>
        <form *ngIf="showFilters" class="NgxEditor__Wrapper font-size-13px ml-3" style="position: relative; margin-top: 50px;"
            [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" editable="true" [placeholder]="html" formControlName="editorContent">
            </ngx-editor>
            <div class="d-flex align-items-center">
                <fa-icon [icon]="Icons.expand" size="2x" class="pl-2 cursor-ptr" (click)="openModal(modal); "></fa-icon>
                <button type="submit" class="button ml-auto">
                    <fa-icon [icon]="Icons.send"></fa-icon>
                </button>
            </div>
        </form>
    </div>
</div>


<!-- modal -->
<ng-template #modal>
  <div>
    <div class="d-flex modal-header dark-purple text-white">
      <div>
        Add Category
      </div>
      <button type="button" class="close ml-auto pr-2" aria-label="Close">
        <span aria-hidden="true" class="text-white" (click)="closeModal()">&times;</span>
      </button>
    </div>
    <form>
      <div class="modal-body row font-size-13px">
        <div class="form-group col-sm-9">
          <label>Category Name</label>
          <input type="text" class="form-control" placeholder="Enter Category Name" style="font-size: 13px;">
        </div>
        <div class="form-group col-sm-9">
          <label>Description</label>
          <textarea class="form-control" rows="3" placeholder="Enter your text here..">
          </textarea>
        </div>
        <div class="ml-auto mt-4 mr-3 mb-3">
          <button type="button" class="button px-3" (click)="closeModal()" style="width: 80px;">Cancel</button>
          <button class="button px-3 ml-2" style="width: 80px;">Save</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
