<div class="border p-3 bg-white my-2">
    <div class="d-flex align-items-center">
        <h6>ASP.NET</h6>
        <p class="font-size-13px ml-auto">(143232)</p>
    </div>
    <p class="font-size-11px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="font-size-11px">
        Tagged 5 this week 103 this month
    </div>
</div>
