<ul class="p-0 pt-1 m-0 border-bottom font-size-13px bg-light">
    <form class="m-0" method="dialog" [formGroup]="filtersGroup">
        <div class="form d-flex">
          <div class="col-sm-3 form-group">
            <label style="position: relative; width: 280px;">
                <label>Keywords</label>
              <input type="text" class="form-control pl-4" placeholder="Search"
              formControlName="search">
              <fa-icon [icon]="Icons.search" style="position: absolute; bottom: 7px; left: 8px;"></fa-icon>
            </label>
          </div>
          <div class="col-sm-2 form-group">
            <label>Category</label>
            <select class="form-control" formControlName="category">
                <option value="0" selected>All</option>
                <option *ngFor="let c of categories" [value]="c.id">{{c.title}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label>Show</label>
            <select class="form-control" formControlName="show">
              <option value="All" selected>All</option>
                <option *ngFor="let opt of showFilters" value="{{opt.name}}">{{opt.name}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label>Sort by</label>
            <select class="form-control" formControlName="sort">
              <option value="All" selected>All</option>
                <option *ngFor="let s of sortFilters" value="{{s.name}}">{{s.name}}</option>
            </select>
          </div>
          <div class="d-flex align-items-center pl-4 cursor-ptr">
            <span class="" (click)="reset()">
                <fa-icon [icon]="Icons.reload" class="pr-1"></fa-icon>    
            </span>
            Reset
          </div>
          <div class="ml-auto d-flex align-items-center p-0">
              <button type="button" class="button ml-auto mr-3" (click)="openModal(modal)">
                  <fa-icon [icon]="Icons.plus" size="sm"></fa-icon>
                  Question
              </button>
          </div>
        </div>
      </form>
</ul>


<ng-template #modal>
  <div>
    <div class="d-flex modal-header dark-purple text-white">
      <div>
        Add Question
      </div>
      <button type="button" class="close ml-auto pr-2" aria-label="Close">
        <span aria-hidden="true" class="text-white" (click)="closeModal()">&times;</span>
      </button>
    </div>
    <form [formGroup]="questionFormGroup">
      <div class="modal-body row font-size-13px">
        <div class="form-group col-sm-7">
          <label>Question</label>
          <input type="text" class="form-control" placeholder="Enter Your Question" style="font-size: 13px;" formControlName="question">
        </div>
        <div class="form-group col-sm-12">
          <label>Description</label>
          <div class="NgxEditor__Wrapper font-size-13px">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" editable="true" [placeholder]="html" formControlName="editorContent">
            </ngx-editor>
          </div>
        </div>
        <div class="form-group col-sm-5">
          <label for="">Category</label>
          <select class="form-control" formControlName="category">
            <option disabled value="0">Select Category</option>
            <option *ngFor="let category of categories;let i=index;" [selected]="i==0" [value]="category.id">{{category.title}}</option>
          </select>
        </div>
        <div class="d-flex col-sm-12">
          <button type="button" class="ml-auto button px-3" (click)="closeModal()" style="width: 80px;">Cancel</button>
          <button type="button" class="button px-3 ml-3" style="width: 80px;"
          (click)="onSubmit()">Post</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>