@model LoginViewModel

<form asp-action="Login" asp-controller="Auth" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div>
        <label>Email</label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button type="submit">Sing In</button>
    </div>
    <a asp-action="Register" asp-controller="Auth" asp-route-returnUrl="@Model.ReturnUrl">
        Register
    </a>
</form>