<nav class="navbar fixed-top navbar-expand-sm top-bar m-0 p-0">
    <a class="navbar-brand m-0 p-0">
        <div><img src="https://c.keka.com/static/images/logos/KekaLogoWhite.png" alt="keka logo" class="keka-logo"/></div>
    </a>
    <ul class="d-flex align-items-center navbar-nav ml-auto text-white pr-2">
        <li class="nav-item p-2">
            {{ CurrentDate | date }}
        </li>
        <li class="nav-item p-2">
            <fa-icon [icon]="Icons.sun"></fa-icon>
        </li>
        <li class="nav-item mx-2" *ngIf="LoggedIn">
            <span class="mt-4 mr-2">{{userName}}</span>
            <img src="{{imageUrl}}" class="img-fluid user-icon rounded-circle">
        </li>
        <li class="ml-2" *ngIf="!LoggedIn" ngClass="{'mr-3':!LoggedIn}">
            <button (click)="login()" class="button py-2" style="width: 80px;">
                Login
            </button>
        </li>
        <li class="ml-3 mr-3" *ngIf="LoggedIn">
            <button (click)="logout()" class="button py-2" style="width: 80px;">
                Logout
            </button>
        </li>
    </ul>
</nav>