<nav class="navbar fixed-top navbar-expand-sm top-bar m-0 p-0">
    <a class="navbar-brand m-0 p-0">
        <div><img src="https://c.keka.com/static/images/logos/KekaLogoWhite.png" alt="keka logo" class="keka-logo"/></div>
    </a>
    <ul class="d-flex align-items-center navbar-nav ml-auto text-white pr-2">
        <li class="nav-item p-2">
            14 Mar 2017
        </li>
        <li class="nav-item p-2">
            <fa-icon [icon]="Icons.sun"></fa-icon>
        </li>
        <li class="nav-item p-2">
            Vijay Prakash 
            <img src="https://i.pravatar.cc/300" class="img-fluid user-icon rounded-circle pl-3">
        </li>
    </ul>
</nav>