<div *ngIf="showUsersList">
  <div class="bg-light pt-1 font-size-13px pl-3 border-bottom">
    <div class="form-group mb-2">
      <label style="position: relative; width: 280px;">
        <label>Users</label>
        <input type="text" class="form-control pl-4" placeholder="Search">
        <fa-icon [icon]="Icons.search" style="position: absolute; bottom: 7px; left: 8px;"></fa-icon>
      </label>
    </div>
  </div>
  <div class="d-flex align-items-center flex-wrap">
    <app-user-card *ngFor="let user of Users;let index" [user]="user"></app-user-card>
  </div>
</div>

<router-outlet></router-outlet>
