<nav class="navbar navbar-expand-sm py-0 navbar-light border-bottom bg-white">
  <ul class="navbar-nav font-size-13px">
    <li class="nav-item pr-3 py-0">
      <a
        class="nav-link navigation-link pl-0 pr-0"
        routerLink="/home"
        routerLinkActive="active navigation-link-active"
        >HOME</a
      >
    </li>
    <li class="nav-item pl-3 pr-2 py-0">
      <a class="nav-link navigation-link" routerLink="/categories" routerLinkActive="active navigation-link-active"
        >CATEGORIES</a
      >
    </li>
    <li class="nav-item px-3 py-0">
      <a class="nav-link navigation-link" routerLink="/users" routerLinkActive="active navigation-link-active"
        >USERS</a
      >
    </li>
  </ul>
</nav>
