<nav class="navbar navbar-expand-sm py-0 navbar-light border-bottom">
    <ul class="navbar-nav font-size-13px">
      <li class="nav-item pr-3 py-1">
        <a class="nav-link pl-0" routerLink="/home" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item px-3 py-1">
        <a class="nav-link" routerLink="/categories" routerLinkActive="active">CATEGORIES</a>
      </li>
      <li class="nav-item px-3 py-1">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">USERS</a>
      </li>
    </ul>
</nav>