<div class="media border pl-3 pt-2">
    <img src="../../../../assets/images/usericon.png" alt="John Doe" class="mr-3 rounded-circle" style="width:30px;">
    <div class="media-body">
        <div class="d-flex align-items-center">
            <div>
                Jessy Robert
            </div>
            <div class="font-size-11px px-2">
                30 min Ago
            </div>
            <div class="ml-auto px-2">
                <fa-icon [icon]="Icons.thumbsUp" class="thumbs-up thumbs-up-active"></fa-icon>
            </div>
            <div class="px-2">
                <fa-icon [icon]="Icons.thumbsDown" class="thumbs-down"></fa-icon>
            </div>
        </div>
        <p class="font-size-13px">
            Placeholder text to use in your graphic,print and web layouts and discover plugins for your favourite
            writing,design and blogging tools.Placeholder text to use in your graphic,print and web layouts and discover
            plugins for your favourite writing,design and blogging tools
        </p>
    </div>
</div>