<div class="media border-0 pl-3 pt-2">
    <img src="{{answer.imageUrl}}" alt="John Doe" class="mr-3 rounded-circle" style="width:30px;">
    <div class="media-body">
        <div class="d-flex align-items-center">
            <div style="font-weight: 400;">
                {{answer.answeredBy}}
            </div>
            <div class="font-size-11px px-2">
                {{answer.answeredOn}}
            </div>
            <div class="ml-auto px-2 font-size-13px">
                <fa-icon [icon]="Icons.thumbsUp" class="thumbs-up"
                [ngClass]="{'thumbs-up-active':answer.activity == 1}"
                (click)="like()"></fa-icon>
                {{answer.likes}}
            </div>
            <div class="px-2 font-size-13px">
                <fa-icon [icon]="Icons.thumbsDown" class="thumbs-down"
                [ngClass]="{'thumbs-down-active':answer.activity == 2}"
                (click)="dislike()"></fa-icon>
                {{answer.dislikes}}
            </div>
        </div>
        <p class="font-size-13px">
            {{answer.description}}
        </p>
        <div class="d-flex font-size-11px">
            <form [formGroup]="formGroup">
                <label class="check-container m-0 pl-1 d-block mx-auto">
                    <input type="checkbox" class="d-none" formControlName="checkbox">
                    <span class="checkmark"></span>
                </label>
            </form>
            <div class="font-weight-bolder pl-2">
                Mark as Best Solution
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>