<div class="d-flex border p-3 bg-white question-card">
    <div class="d-flex flex-column align-items-center mr-2">
        <img src="../../../../assets/images/usericon.png" alt="John Doe" class="img-fluid rounded-circle"
            style="width: 30px" />
        <div class="d-flex flex-col align-items-center pt-3">
            <div>
                <fa-icon [icon]="Icons.angleUp"></fa-icon>
            </div>
        </div>
        <div class="font-size-11px">
            20
        </div>
    </div>
    <div class="flex-grow-1">
        <p>I want to change Quantity List from Steam Controller.</p>
        <p class="font-size-13px">Placeholder text to use in your graphic,print and web layouts and discover plugins for your favourite writing,design and blogging tools.</p>
        <div class="d-flex font-size-11px">
            <div>
                <span>
                    <fa-icon [icon]="Icons.eye" class="pr-1"></fa-icon>
                </span>130 views
            </div>
            <div class="bg-light px-2 border ml-4">5 Answers</div>
            <div class="ml-auto">10 min Ago</div>
        </div>
    </div>
    <div></div>
</div>