<div class="d-flex border border-left-0 border-top-0 p-3 bg-white question question-card"
    [ngClass]="{'question-card-active':isActive}"
    [id]="question.id">
    <div [ngClass]="{'question-resolved':question.resolved}"></div>
    <div class="d-flex flex-column align-items-center mr-2">
        <img src="{{question.imageUrl}}" alt="John Doe" class="img-fluid rounded-circle"
            style="width: 30px" />
        <div class="d-flex flex-col align-items-center pt-3">
            <div>
                <fa-icon [icon]="Icons.angleUp"
                (click)="upVote()" [ngClass]="{'color-black':!question.upVoted, 'color-orange':question.upVoted}"></fa-icon>
            </div>
        </div>
        <div class="font-size-11px">
            {{question.upVotes}}
        </div>
    </div>
    <div class="flex-grow-1 font-size-16px" (click)="onClick()">
        <p>{{question.title}}</p>
        <p class="font-size-13px">
            {{question.description}}
        </p>
        <div class="d-flex font-size-11px">
            <div>
                <span>
                    <fa-icon [icon]="Icons.eye" class="pr-1"></fa-icon>
                </span>{{question.views}} views
            </div>
            <div class="bg-light px-2 border ml-4">{{question.answersCount}} Answers</div>
            <div class="ml-auto">
                <span *ngIf="!question.resolved else resolved">{{question.askedOn}}</span>
                <ng-template #resolved>
                    <span style="color: green;">Resolved</span>
                </ng-template>
            </div>
        </div>
    </div>
    <div></div>
</div>