/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  margin: 0;
}

//color
$dark-purple: #70588a;
$parrot-green: #31c731;
$btn-color: #7d58a5;
$white-smoke: #f5f5f5;

.dark-purple {
  background-color: $dark-purple;
}

.color-keka-logo {
  color: $dark-purple;
}

//FONT SIZES
.font-size {
  &-10px {
    font-size: 10px;
  }
  &-11px {
    font-size: 11px;
  }
  &-12px {
    font-size: 12px;
  }
  &-13px {
    font-size: 13px;
  }
  &-14px {
    font-size: 13px;
  }
  &-15px {
    font-size: 13px;
  }
  &-16px{
    font-size: 16px;
  }
}

//common css
.min-width-150px {
  min-width: 150px;
}

input,
textarea,
select {
  font-size: 13px !important;
  border-radius: 3% !important;
  border-color: #b8b5b5;
}

.cursor-ptr:hover {
  cursor: pointer;
}

.button {
  border-radius: 5%;
  background-color: $btn-color;
  color: #f5f5f5;
  border: 0;
  padding: 10px 15px;
  &:hover {
    cursor: pointer;
    background-color: #544169;
  }
}

.input {
  border-radius: 10%;
  background-color: $white-smoke;
}

//keka logo
.keka-logo {
  width: 100px;
  background-color: #55337a;
  padding: 20px 15px;
}
//TOP BAR
.top-bar {
  background-color: $dark-purple;
}

.user-icon {
  width: 40px;
  height: 40px;
}

// sidebar
.side-bar {
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
  background-color: #565357;

  & > li {
    width: 100px;
    padding: 15px 15px;
    text-align: center;
  }
  & > li:hover {
    cursor: pointer;
    background-color: #8e8b8f;
  }
}

//navigation bar
.navigation-link {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  position: relative;
  overflow: hidden;
  &:hover::after,
  &-active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 40%;
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: $dark-purple;
  }
}

//question card
.question {
  position: relative;
  overflow: hidden;
  &-resolved {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    background-color: $parrot-green;
    transform: rotate(45deg);
  }
  &-card {
    &-active,
    &:hover,
    &:active {
      background-image: linear-gradient(
        to right,
        #f7f7f7 0%,
        #f7f7f7 99%,
        $dark-purple 99%,
        $dark-purple 100%
      );
      cursor: pointer;
    }
  }
}

.thumbs {
  &-up:hover,
  &-up-active {
    color: $parrot-green;
    cursor: pointer;
  }
  &-down:hover,
  &-down-active {
    color: rgb(214, 57, 57);
    cursor: pointer;
  }
}

.checkmark {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #adadad;
  border-radius: 10%;
}

.check-container input:checked ~ .checkmark {
  background-image: url(./assets/images/tick-image.jpg);
  background-size: contain;
}

.NgxEditor__Wrapper .NgxEditor__Content {
  height: 140px !important;
}

.modal {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.user-info-hover:hover,
.user-info-active {
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    white 0%,
    white 95%,
    $dark-purple 95%,
    $dark-purple 100%
  );
}

.modal-content {
  position: absolute;
  width: 700px !important;
  margin: auto;
}
