<ul class="p-0 pt-1 m-0 border-bottom font-size-13px bg-light">
    <form class="m-0" method="dialog">
        <div class="form d-flex">
          <div class="col-sm-3">
              <label>Keywords</label>
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text px-2">
                        <fa-icon [icon]="Icons.search"></fa-icon>
                    </span>
                </div>
                <input type="text" class="form-control" id="email" placeholder="Search" name="email"> 
              </div>
          </div>
          <div class="col-sm-2 form-group">
            <label>Category</label>
            <select class="form-control">
                <option>All</option>
                <option>Asp.Net</option>
                <option>Java</option>
                <option>Node Js</option>
                <option>Dev Opps</option>
                <option>UX Design</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label>Show</label>
            <select class="form-control">
                <option>All</option>
                <option>My Questions</option>
                <option>My Participation</option>
                <option>Hot</option>
                <option>Solved</option>
                <option>UnSolved</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label>Sort by</label>
            <select class="form-control">
                <option>All</option>
                <option>Recent</option>
                <option>Last 10 Days</option>
                <option>Last 30 Days</option>
            </select>
          </div>
          <div class="d-flex align-items-center pl-4 cursor-ptr">
            <span class="">
                <fa-icon [icon]="Icons.reload" class="pr-1"></fa-icon>    
            </span>
            Reset
          </div>
          <div class="ml-auto d-flex align-items-center p-0">
              <button class="button ml-auto mr-3">
                  <fa-icon [icon]="Icons.plus" size="sm"></fa-icon>
                  Question
              </button>
          </div>
        </div>
      </form>
</ul>
